server:
  port: 3000

spring:
  profiles:
    active: dev
  application:
    name: @artifactId@
  config:
    import:
      - nacos:application-@profiles.active@.yml
      - nacos:${spring.application.name}-@profiles.active@.yml



