server:
  port: 9999

spring:
  profiles:
    active: dev
  application:
    name: @artifactId@
  config:
    import:
      - optional:nacos:application-@profiles.active@.yml
      - optional:nacos:${spring.application.name}-@profiles.active@.yml




